body {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.canvas-container {
    position: relative;
    border: 1px solid #fff;
    display: flex;
}

.overlay-canvas {
    position: absolute;
}