body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.checker-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    background-image: url('bg.svg');
    background-size: 20px 20px;
    image-rendering: pixelated;
}

.canvas-background {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.canvas-container {
    margin: auto;
}

.main-canvas,
.overlay-canvas {
    position: absolute;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.terminal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, calc(2 / 3));
    color: #FFF;
    outline: none;
    padding: 10px;
    white-space: pre;
    resize: none;
    border: none;
}

.terminal.is-open {
    display: block;
}

.terminal,
.note {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 20px;
}

.note-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.note {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 1.5;
    pointer-events: none;
    white-space: pre-line;
    z-index: 1;
    padding: .125em .25em;
    max-width: 25vw;
    height: 1.2rem;
    overflow: hidden;
}